* {
	font-family: "Roboto", sans-serif;
}

h1, h2 {
	font-family: "Montserrat", sans-serif;
}
#profile {
	height: 250px;
	width: 250px;
	border-radius: 6px;
}
#landing {
	/*viewport height measured percentage of the height of the device you are viewing your webpage*/
	height: 80vh;

	/*arranges elements inside the parent element, will allow us to layout our elements inside our landing section*/
	display: flex;

	/*directs the elements inside display: flex*/
	flex-direction: column;

	/*centering elemnts horizontally inside display: flex*/
	align-items: center;

	/*centering elements vertically inside display: flex*/
	justify-content: center;

	border-radius: 6px;
}

.jumbotron {

  	background-image: linear-gradient(whitesmoke, gray);
}

#gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 75vh;
	border-radius: 6px;
}

ul {
	list-style: none;
	padding: 0;

}

h2 {
	/*hex*/
	color: #4863cf;
}
	
.tools{
	/*line around the element*/
	border: 5px solid #f2f2f2;

	/*sapce outside the element*/
	margin:  20px;

	/*sapce inside the element*/
	padding: 25px;

	height: 150px;

	/*based on the total width of the parent*/
	width: 50%;

	color: whitesmoke;
}

html {
	scroll-behavior: smooth;
}


a {
	list-style: none;
	margin-top: 5px;
}

#instagram {
	height: 20px;
	width: 20px;
}

#facebook {
	height: 20px;
	width: 20px;
}
